{% extends 'index.html' %}


{% load comment_tags %}
{% load like_tags %}

{% block title %}我的个人博客{% endblock %}
{% block content %}


<div class="ui two column centered grid">
    <div class="twelve wide column">
        <div class="ui menu">
                {% verbatim %}
            <div class="left menu" id="app">
                <div class="item" v-on:click="run">
                    <i class="bullhorn icon"></i>
                </div>
                <div class="item" >
                    <span >{{ msg }} </span>
                </div>
            </div>
                {% endverbatim %}
            <div class="right menu" >
                    {% if user.is_authenticated %}
                    <div class="ui dropdown item" id="dropdown">
                        <span><i class="user icon"></i>{{ user }}</span>
                        <i class="dropdown icon"></i>
                        <div class="menu" data-filtered="filtered">
                            <a class="item">个人信息</a>
                            <a class="item">注销</a>
{#                            <a class="item">西班牙语</a>#}
                        </div>
                    </div>


                    {% else %}



                    {% endif %}
            </div>
        </div>
    </div>

    <div class="four column centered row">
        <div class="eight wide column">
{#        7日热门博客排行（按阅读数）#}
            <div class="ui grey segment">hello






{#                <h4 class="ui horizontal divider header">近七日阅读量</h4>#}
{#                <div class="ui large aligned animated relaxed list">#}
{#                    {% for hot_blog in hot_blogs %}#}
{#                    <div class="item">#}
{#                        <div class="content">#}
{#                            <a href="{%  url 'blog_detail' hot_blog.id %}">#}
{#                                <i class="hotjar icon"></i>{{ hot_blog.blogTitle }}#}
{#                            </a>#}
{#                            <a style="float: right">#}
{#                                <span class="ui label">{{ hot_blog.seven_hot_blogs }}</span>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
{#        所有博客数量统计  #}
            <div class="ui segment" style="margin-bottom: -15px">
                <div class="ui top attached label">共 {{ Blogs|length }} 篇博客</div>
            </div>

        {#            博客列表#}
                    {% for blog in pageBlogs %}
            <div class="ui raised segment">
                <div class="ui divided items">
                    <a class="ui blue ribbon label" href="{% url 'blog_with_type' blog.blogType.id %}">{{ blog.blogType }}</a>
                    <a class="header" href="{% url 'blog_detail' blog.id %}" style="color: #0e8c8c;font: 300 18px 微软雅黑">{{ blog.blogTitle }}</a>
                    <div class="item">
{#                        <a class="header" href="{% url 'blog_detail' blog.id %}">{{ blog.blogTitle }}</a>#}
                        <div class="image">
                            <img src={{ blog.blog_img.url }}>
                        </div>
                        <div class="content">
                            <div class="description">
                                <span>{{ blog.blogContent  | truncatechars:120}}</span>
                            </div>
                            <div class="extra" style="margin-top:30px ">
                                <span class="cinema"><i class="user icon"></i>{{ blog.blogAuthor }}</span>
                                <span class="cinema"><i class="eye icon"></i> {{ blog.get_read_num }}</span>
                                <span class="cinema"><i class="heart icon"></i> {% get_like_count blog %}</span>
                                <span class="cinema"><i class="clock icon"></i> {{ blog.blog_createdTime }}</span>
                                <span class="cinema"><i class="comments icon"></i> {% get_commemt_count blog %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        {% empty %}
                       <p>暂无博客，敬请期待</p>
                    {% endfor %}


{#                                   分页#}
            <div class="ui segment">
                <div class="ui pagination menu">
                        {% if pageBlogs.has_previous %}
                    <a class="active item" href="?page={{ pageBlogs.previous_page_number }}">
                    <span> << </span>
                    </a>
                        {% endif %}

                        {% if pageBlogs.paginator.num_pages > 4 %}
                    <a class=" active item" href="?page=1">1</a>
                    <a class=" active item" href="?page=2">2</a>
                    <a class=" active item" href="?page=3">3</a>
                    <a class=" disabled item" >...</a>
                        {% endif %}

                    <a class="item" href="?page={{ pageBlogs.number }}">
                          {{ pageBlogs.number }}
                    </a>

                        {% if pageBlogs.has_next %}
                    <a class="active item" href="?page={{ pageBlogs.next_page_number }}">
                    <span> >> </span>
                        {% endif %}
                    </a>

                    <a class="item">
                        共 {{ pageBlogs.paginator.num_pages }} 页
                    </a>
                </div>
            </div>
         </div>

{#    右侧标签栏#}
    <div class="four wide column">
{#    卡片组，今天阅读量#}
        <div class="ui segment">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="ui small circular rotate reveal image" style="float: right">
                            <img src="../media/blogImage/head1.jpg" class="visible content">
                            <img src="../media/blogImage/head2.jpg" class="hidden content">
                        </div>
                        <div class="header">
                            Bin Lu
                        </div>
                        <div class="meta">
                            Friends of Veronika
                        </div>
                        <div class="description">
                            今日阅读量：{{ todays_readNum.read_num_sums }}
                        </div>
                    </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui basic green button"><i class="github icon"></i></div>
                        <div class="ui basic red button"><i class="github icon"></i></div>
                    </div>
                </div>
            </div>
        </div>


{#              标签云#}
        <div class="ui segment">
            <h4 class="ui top attached inverted header">标签云</h4>
            <div class="ui inverted divider"></div>
                {% for name in right_typeNames %}
                        {% if name.id == 2 or name.id == 5 or name.id == 8 or name.id == 11 %}
                <a class="ui red tag label" href="{% url 'blog_with_type' name.id %}" style="margin: 15px 25px">
                   {{ name.typeName }}({{ name.typeCount }})
                </a>
                        {% elif name.id == 1 or name.id == 4 or name.id == 7  %}
                <a class="ui teal tag label" href="{% url 'blog_with_type' name.id %}">
                   {{ name.typeName }}({{ name.typeCount }})
                </a>
                        {% else  %}
                <a class="ui blue tag label" href="{% url 'blog_with_type' name.id %}">
                   {{ name.typeName }}({{ name.typeCount }})
                </a>
                        {% endif %}
                {% endfor %}
        </div>

{#              日期归档#}
        <div class="ui segment">
            <h4 class="ui top attached inverted header">日期归档</h4>
                {% for date,count in blog_dates.items %}
            <div class="ui bottom attached segment">
                <a href="{% url 'blog_with_date' date.year date.month %}">
                    {{ date | date:"Y年m月"}} ({{ count }})
                </a>
            </div>
            {% endfor %}
        </div>


    </div>

</div>
{#    <div class="two wide column">#}
{#    </div>#}

    </div>
</div>


{% endblock %}

{% block script_scroll %}
<script >
  {#  $('.dropdown')#}
  {#  .dropdown({#}
  {#  // you can use any ui transition#}
  {#  transition: 'drop'#}
  {#{);#}
    
    windows.onload=function () {
        var msg = '欢迎！！！ 本站使用 Django,semantic,Vue 搭建，请多支持';
        {#if(this.is_Interval!=false) return;#}
        {#        this.is_Interval=setInterval( () =>{#}
        var start = msg.substring(0, 1);
        var end = msg.substring(1);
        msgs = end + start;
        console.log(msgs);
        {#{,200 )};#}
    };

    {#var vue=new Vue({#}
    {#    el:'#app',#}
    {#    data:{#}
    {#        msg:'欢迎！！！ 本站使用 Django,semantic,Vue 搭建，请多支持',#}
    {#        is_Interval:false,#}
    {#    },#}
    {#    methods:{#}
    {#        run(){#}
    {#            if(this.is_Interval!=false) return;#}
    {#            this.is_Interval=setInterval( () =>{#}
    {#                var start = this.msg.substring(0, 1);#}
    {#                var end = this.msg.substring(1);#}
    {#                this.msg = end  +start;#}
    {#                console.log(this.msg);#}
    {#            },200 )}#}
    {#    }#}
    {#{)#}





</script>

{% endblock %}




