{% extends 'index.html' %}
{% block title %}{{ blog.blogTitle }}{% endblock %}

{% block content %}


<div class="ui two column centered grid">
    <div class="fourteen wide column">
        <div class="ui breadcrumb">
          <a class="active section" href="{% url 'blog_list' %}" ><i class="home icon"></i>主页</a>
          <div class="divider"> / </div>
          <div class=" section"><a>{{ blog.blogTitle }}</a></div>
        </div>
    </div>

    <div class="four column centered row">
        <div class="eight wide column">
            <div class="ui segment">
                <h3>{{ blog.blogTitle }}</h3>
                <div class="ui horizontal divider"></div>
                <div class="extra">
                    <span ><i class="folder icon"></i>{{ blog.blogType }}</span>
                    <span ><i class="eye icon"></i> {{ blog.get_read_num }}</span>
                    <span ><i class="clock icon"></i>{{ blog.blog_createdTime }}</span>
                </div>
                <div class="ui section divider"></div>
                <p>{{ blog.blogContent |safe }}</p>
            </div>

            <div class="ui segment">
                <div class="ui labeled button" tabindex="0">
                    <div class="ui red button">
                        <i class="heart icon"></i> 喜欢
                    </div>
                    <a class="ui basic red left pointing label">
                        1,048
                    </a>
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic blue button">
                        <i class="share square icon"></i> 分享
                    </div>
                    <a class="ui basic left pointing blue label">
                        1,048
                    </a>
                </div>
            </div>

            <div class="ui segment">
                <div class="ui comments">
                    <h3 class="ui dividing header">Comments </h3>
                        {% if user.is_authenticated %}{{ user }}
                    <form id="commentAjax" class="ui reply form" action="{% url 'update_comment' %}" method="POST">
                        {% csrf_token %}
                        {{ comment_form }}
                    <span id="error_label"></span>
                    <input type="submit" value="评论">
                    <i class="icon edit"></i> Add Reply
                    </form>
                        {% else  %}
                    <h5>请先
                    <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>/还没账号
                    <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    </h5>
                        {% endif %}

                </div>
                <div>
                        {#            评论#}
                {% for comment in comments %}
                  <div id="comment_list">
{#                    {{ comment.commentUser.username }}#}
{#                      {{ comment.commentTime }}#}
{#                      {{ comment.commentText }}#}

                    <a class="avatar">
                      <img src="../images/avatar/small/matt.jpg">
                    </a>
                    <div class="content">
                      <a class="author">{{ comment.commentUser.username }}</a>
                      <div class="metadata">
                        <span class="date">{{ comment.commentTime | date:"Y-m-d H:i:s" }}</span>
                      </div>
                      <div class="text">
                        {{ comment.commentText |safe }}
                      </div>
                      <div class="actions">
                        <a class="reply">Reply</a>
                      </div>
                    </div>
                  </div>
                    {% empty %}
                      暂无评论
                {% endfor %}

                </div>
            </div>
        </div>


        <div class="four wide column">
            <div class="ui segment">
                <div class="row">   上一篇：
                        {% if pre_blog %}
                    <a href="{% url "blog_detail" pre_blog.id  %}">{{ pre_blog.blogTitle }}
                        <i class="right chevron icon"></i>
                        {% else %}
                        已经是最前了
                        {% endif %}
                    </a>
                </div>
                <div class="ui horizontal divider"></div>
                <div class="row">   下一篇：
                        {% if next_blog %}
                    <a href="{% url "blog_detail" next_blog.id  %}">{{ next_blog.blogTitle }}
                        <i class="right chevron icon"></i>
                            {% else %}
                        已经到底了
                            {% endif %}
                    </a>
                </div>
            </div>


        </div>

    </div>
</div>















{% endblock %}

{% block script_comment %}
<script type="text/javascript">
    $("#commentAjax").submit(function () {
         //判断多行空行
        $("#error_label").text("");//清空
        if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
            $("#error_label").text("评论内容不能为空");
            return false;
        }

        CKEDITOR.instances['id_text'].updateElement();
        $.ajax({
            url:'{% url 'update_comment' %}',
            type:'POST',
            data: $(this).serialize(),
            datatype:"JSON",
            cache:false,
            success:function (data) {
                console.log(data);
                if (data['status']=='SUCCESS') {
                    var comment_html = '<div>'+data['username']+'('+data['comment_time']+'):'+data['text']+'<div>';
                    $("#comment_list").prepend(comment_html);
                    //清空编辑框的内容
                    CKEDITOR.instances['id_text'].setData('');
                }else {
                    $("#error_label").text(data['message'])
                }
            },
            error:function (xhr) {
                console.log(xhr);
            },
        });
        return  false;
    });
</script>
    
{% endblock %}