{% extends 'index.html' %}


{% block content %}
{% block title %}{{ '我的个人博客' }}{% endblock %}

    <div>
        共 {{ blogs_with_dates|length }} 篇博客
    </div>
    <ul>

            {% for blog in blogs_with_dates %}
            <li>
                <a>{{ blog.blog_createdTime | date:"Y-m-d " }}</a>
                <a href="{% url 'blog_detail' blog.id %}">{{ blog.blogTitle }}</a>
                <a href="{% url 'blog_with_type' blog.blogType.id %}">{{ blog.blogType }}</a>
                <a>{{ blog.blogContent | truncatechars:30 }}</a>
            </li>

            {% empty %}
               <p>暂无博客，敬请期待</p>
            {% endfor %}

    </ul>


    <div>博客分类
    {% for name in right_typeNames %}
       <a href="{% url 'blog_with_type' name.id %}">{{ name.typeName }} ({{ name.typeCount }})</a>
    {% endfor %}
    </div>

    <div>日期分类
    {% for date,count in blog_dates.items %}
       <a href="{% url 'blog_with_date' date.year date.month %}">{{ date | date:"Y年m月"}} ({{ count }})</a>
    {% endfor %}
    </div>


    {% if pageBlogs.number != 1  %}
    <a href="?page=1">1</a>
    {% endif %}

    {% if pageBlogs.has_previous %}
    <a href="?page={{ pageBlogs.previous_page_number }}"> << </a>
    {% endif %}


    <a href="?page={{ pageBlogs.number }}"> {{ pageBlogs.number }}  </a>


    {% if pageBlogs.has_next %}
    <a href="?page={{ pageBlogs.next_page_number }}"> >> </a>
    {% endif %}
    <a>共 {{ pageBlogs.paginator.num_pages }} 页</a>

{% endblock %}

