{% extends 'index.html' %}
{% block title %}{{ blog.blogTitle }}{% endblock %}

{% load comment_tags %} }}
{% block content %}


<div class="ui two column centered grid">
    <div class="fourteen wide column">
        <div class="ui breadcrumb">
          <a class="active section" href="{% url 'blog_list' %}" ><i class="home icon"></i>主页</a>
          <div class="divider"> / </div>
          <div class=" section"><a>{{ blog.blogTitle }}</a></div>
        </div>
    </div>

    <div class="four column centered row">
        <div class="eight wide column">
            <div class="ui segment">
                <h3>{{ blog.blogTitle }}</h3>
                <div class="ui horizontal divider"></div>
                <div class="extra">
                    <span ><i class="folder icon"></i>{{ blog.blogType }}</span>
                    <span ><i class="eye icon"></i> {{ blog.get_read_num }}</span>
                    <span ><i class="clock icon"></i>{{ blog.blog_createdTime }}</span>
                    <span ><i class="eye icon"></i>{% get_commemt_count blog %}</span>
                </div>
                <div class="ui section divider"></div>
                <p>{{ blog.blogContent |safe }}</p>
            </div>

{#        点赞#}
            <div class="ui segment">
                <div class="ui labeled button" tabindex="0">
                    <div class="ui red button" >
{#                        onclick="likeChange('blog',{{ blog.id }})"#}
                        <i class="heart icon"></i> 喜欢
                    </div>
                    <a class="ui basic red left pointing label">
                        1,048
                    </a>
                </div>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui basic blue button">
                        <i class="share square icon"></i> 分享
                    </div>
                    <a class="ui basic left pointing blue label">
                        1,048
                    </a>
                </div>
            </div>

            <div class="ui segment">

                    {% if user.is_authenticated %}{{ user }}
                <form id="commentAjax" class="ui reply form" action="{% url 'update_comment' %}" method="POST">
                    <div id="reply_content_container" style="display:none;">
                        <p>回复：</p>
                        <div id="reply_content"></div>
                    </div>
                    {% csrf_token %}
                    {% get_comment_form blog as comment_form  %}
                    {% for field in comment_form %}
                        {{ field }}
                    {% endfor %}

                    <span id="error_label"></span>
{#                        <div class="ui blue labeled submit icon button">#}
                        <input type="submit" value="发表评论"  style="float: right">

{#                        </div>#}
                </form>
                    {% else  %}
                <h5>请先
                    <button class="tiny compact ui button">
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}" style="color: #1B1C1D ">登录</a>
                    </button>/ 还没账号?
                    <button class="tiny compact ui button">
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}" style="color: #1B1C1D ">注册</a>
                    </button>
                </h5>
                {% endif %}

                <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>

{#                评论内容#}
                        {% get_comment_list blog as comments%}
                        {% for comment in comments %}
                    <div class="comment" id="comment_list">
                        <a class="avatar"><img src="../media/blogImage/head1.jpg"></a>
                        <div class="content">
                            <a class="author">{{ comment.commentUser.username }}</a>
                            <div class="metadata">
                                <span class="date">{{ comment.commentTime | date:"Y-m-d H:i:s" }}</span>
                            </div>
                            <div class="text" id="comment_{{ comment.id }}">
                                <p>{{ comment.commentText | safe }}</p>
                            </div>
                            <div class="actions">
                                <a href="javascript:reply({{ comment.id }});" class="reply">Reply</a>
                            </div>
                        </div>

                        {% for reply in comment.root_comment.all %}
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar"><img src="../media/blogImage/head2.jpg"></a>
                                <div class="content">
                                    <a class="author">{{ reply.commentUser }} </a>
                                    <div class="metadata">
                                        <span class="date">{{ reply.commentTime | date:"Y-m-d H:i:s" }}</span>
                                        <span>回复：{{ reply.commentUser }}</span>
                                    </div>
                                    <div class="text" id="comment_{{ reply.id }}">
                                        {{ reply.commentText | safe}}
                                    </div>
                                    <div class="actions">
                                        <a href="javascript:reply({{ reply.id }});" class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                        {% empty %}
                              暂无评论
                        {% endfor %}

            </div>

            </div>
        </div>


        <div class="four wide column">
            <div class="ui segment">
                <div class="row">   上一篇：
                        {% if pre_blog %}
                    <a href="{% url "blog_detail" pre_blog.id  %}">{{ pre_blog.blogTitle }}
                        <i class="right chevron icon"></i>
                        {% else %}
                        已经是最前了
                        {% endif %}
                    </a>
                </div>
                <div class="ui horizontal divider"></div>
                <div class="row">   下一篇：
                        {% if next_blog %}
                    <a href="{% url "blog_detail" next_blog.id  %}">{{ next_blog.blogTitle }}
                        <i class="right chevron icon"></i>
                            {% else %}
                        已经到底了
                            {% endif %}
                    </a>
                </div>
            </div>


        </div>

    </div>
</div>















{% endblock %}

{% block script_comment %}
<script type="text/javascript">
    $("#commentAjax").submit(function () {
         //判断多行空行
        $("#error_label").text("");//清空
        if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
            $("#error_label").text("评论内容不能为空");
            return false;
        }

        CKEDITOR.instances['id_text'].updateElement();
        $.ajax({
            url:'{% url 'update_comment' %}',
            type:'POST',
            data: $(this).serialize(),
            datatype:"JSON",
            cache:false,
            success:function (data) {
                console.log(data);
                if (data['status']=='SUCCESS') {
                    var comment_html = '<div class="comment"><a class="avatar"><img src="../media/blogImage/head1.jpg"></a><div class="content"><a class="author">'+data["username"]+'</a><div class="metadata"><span class="date">'+data["comment_time"]+'</span></div>'+'<div class="text"><p>'+data["text"]+'</p></div></div></div>';
                    if($('#reply_comment_id').val()=='0'){
                        //为0评论，插入评论

                    }else{
                        //插入回复

                    }
                    $("#comment_list").prepend(comment_html);
                    //清空编辑框的内容
                    CKEDITOR.instances['id_text'].setData('');
                }else {
                    $("#error_label").text(data['message'])
                }
            },
            error:function (xhr) {
                console.log(xhr);
            },
        });
        return  false;
    });
    
    function reply(reply_comment_id) {
        //设置值
        $('#reply_comment_id').val(reply_comment_id);

        var html= $('#comment_'+reply_comment_id).html();
        $('#reply_content').html(html);
        $('#reply_content_container').show();

        $('html').animate({scrollTop:$('#commentAjax').offset().top -60},300,function(){
           CKEDITOR.instances['id_text'].focus();
        });
    }

    {#function likeChange(obj,content_type,object_id){#}
    {#    var is_like= obj.getElementsByClassName('active').length ==0;#}
    {#    $.ajax({#}
    {#        url:"{% url 'like_change' %}",#}
    {#        type:'GET',#}
    {#        data:{#}
    {#            content_type:'content_type',#}
    {#            object_id:'object_id',#}
    {#            is_like:is_like#}
    {#        },#}
    {#        cache:false,#}
    {#        success:{#}
    {##}
    {#        },#}
    {#        error:function (xhr) {#}
    {##}
    {#        },#}
    {#    });#}
    {##}
    {#}#}
</script>
    
{% endblock %}


