{% extends 'index.html' %}
{% block title %}{{ blog.blogTitle }}{% endblock %}

{% block content %}



<div class="contain">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <div>
                    <ol class="breadcrumb">
                      <li><a href="{% url 'blog_list' %}">Home</a></li>
                {#      <li><a href="#">Library</a></li>#}
                      <li class="active">{{ blog.blogTitle }}</li>
                    </ol>
                </div>
                <div>
                    {{ blog.blogTitle }}
                    {{ blog.blogContent }}
                    <span>阅读数：{{ blog.get_read_num }}</span>

                </div>
            </div>

            <div class="col-md-2">

            </div>
        </div>
</div>

{#    <div>#}
{#        #}
{##}
{#    </div>#}

<p >上一篇:
    {% if pre_blog %}
    <a href="{% url "blog_detail" pre_blog.id  %}">{{ pre_blog.blogTitle }}</a>
    {% else %}
        已经是最之前的博客
    {% endif %}

</p>

<p >下一篇:
    {% if next_blog %}
    <a href="{% url "blog_detail" next_blog.id  %}">{{ next_blog.blogTitle }}</a>
    {% else %}
        已经是最新的博客
    {% endif %}
</p>


{#<div>博客分类#}
{#    {% for name in names %}#}
{#    <a>{{ name }}</a>#}
{#    {% empty %}#}
{#   <p>暂无分类，敬请期待</p>#}
{#    {% endfor %}#}
{# </div>#}


{% endblock %}