{% extends 'index.html' %}
{% block title %}{{ blog_type }}{% endblock %}

{% block content %}

<div>
        <a href="{% url 'blog_list' %}"> < </a>
    </div>

{#<div>分类：{{ blog_type.blogType }}</div>#}

<ul>

    {% for blog in blogs %}

    <li>

        <a>标题：{{ blog.blogTitle }}</a>
        <a>分类：{{ blog.blogType }}</a>
        <a>创作时间：{{ blog.blog_createdTime | date:"Y-m-d " }}</a>
        <a href="{% url 'blog_detail' blog.id %}">{{ blog.blogTitle }}</a>
{#        <a ></a>#}
        <a>{{ blog.blogContent | truncatechars:30 }}</a>
    </li>

    {% empty %}
       <p>暂无博客，敬请期待</p>
    {% endfor %}

    </ul>

{% endblock %}