{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
{#    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
{#    <script src="{% static 'js/swiper.min.js' %}"></script>#}
    <script src="{% static 'js/semantic.js' %}"></script>
{#    <script src="{% static 'js/vue.js' %}"></script>#}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</head>

<body style="background-color:gainsboro">

<div class="ui menu">
    <div class="header item">
        <div class="ui small circular rotate reveal image">
            <img src="" class="visible content">
            <img src="" class="hidden content">
        </div>
    </div>
    <a class="active item" href="{% url 'blog_list' %}">首页</a>
    <a class="active item" href="{% url 'blog_list' %}">杂谈</a>
    <a class="active item" href="{% url 'blog_list' %}">留言板</a>

    <div class="menu" style="margin-left: 50%">
        {% if user.is_authenticated %}
        <div class="item" ><h3>{{ user }}</h3></div>
        {% else %}
        <div class="item" >
            <a class="mylogin" href="{% url 'login' %}?from={{ request.get_full_path }}">
                <i class="user outline icon"></i>登录
            </a>
            <a href="{% url 'register' %}?from={{ request.get_full_path }}">
                <i class="user times icon"></i>注册
            </a>
        </div>
        {% endif %}
    </div>

    <div class="right menu">
        <div class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="搜索">
                <button class="ui button">搜索</button>
            </div>
        </div>
    </div>
</div>


<div class="ui modal"></div>

{% block content %}{% endblock %}
{% block script_comment %}{% endblock %}
{% block script_scroll %}{% endblock %}
















{#<script>#}
{#    function too(){#}
{#      $('.shape').shape('flip left');#}
{#    }#}
{#    function right(){#}
{#      $('.shape').shape('flip right');#}
{#    }#}
{##}
{#</script>#}

</body>
</html>