{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</head>

<body style="background-color:gainsboro">

<div class="ui menu">
    <div class="header item">
        <div class="ui small circular rotate reveal image">
            <img src="../images/wireframe/square-image.png" class="visible content">
            <img src="../images/avatar/large/stevie.jpg" class="hidden content">
        </div>
    </div>
    <a class="active item" href="{% url 'blog_list' %}">首页</a>
    <a class="active item" href="{% url 'blog_list' %}">杂谈</a>
    <a class="active item" href="{% url 'blog_list' %}">留言板</a>

    <div class="right menu">
        <div class="item">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="搜索">
                <button class="ui button">搜索</button>
            </div>
        </div>
    </div>
</div>


{% block content %}{% endblock %}
{% block script_comment %}{% endblock %}
{% block script_scroll %}{% endblock %}








<!-- Swiper -->




<!-- Initialize Swiper -->
<script>

</script>








{#<script>#}
{#    function too(){#}
{#      $('.shape').shape('flip left');#}
{#    }#}
{#    function right(){#}
{#      $('.shape').shape('flip right');#}
{#    }#}
{##}
{#</script>#}

</body>
</html>